<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载，即延迟加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="Integer"/>
        <typeAlias type="java.lang.Long" alias="Long"/>
        <typeAlias type="java.util.HashMap" alias="HashMap"/>
        <typeAlias type="java.util.LinkedHashMap" alias="LinkedHashMap"/>
        <typeAlias type="java.util.ArrayList" alias="ArrayList"/>
        <typeAlias type="java.util.LinkedList" alias="LinkedList"/>
        <typeAlias type="com.zetkno.findbook.pojo.User" alias="user"/>
    </typeAliases>

</configuration>


