<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zetkno.findbook.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zetkno.findbook.pojo.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
    <result column="administrator" jdbcType="BIT" property="administrator" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avator" jdbcType="VARCHAR" property="avator" />
    <!--<association property="favoriteType" javaType="com.zetkno.findbook.pojo.BookType"-->
                 <!--resultMap="BookTypeMapper.BaseResultMap" />-->
    <!--<association property="dailyType" javaType="com.zetkno.findbook.pojo.BookType" >-->
      <!--<id property="typeId" column="btid"/>-->
      <!--<result property="parentId" column="btParentId"/>-->
      <!--<result property="parentName" column="btParentName"/>-->
      <!--<result property="typeName" column="btName"/>-->
      <!--<result property="typeCode" column="btCode"/>-->
    <!--</association>-->
      <collection property="favoriteType" javaType="ArrayList"
                  ofType="FavoriteType">
          <result column="id" property="id"/>
          <result column="userid" property="userid"/>
          <result column="typeCode" property="typeCode"/>
          <association property="bookType" javaType="BookType">
            <result column="typeId" property="typeId"/>
            <result column="parentId" property="parentId"/>
            <result column="parentName" property="parentName"/>
            <result column="typeName" property="typeName"/>
            <result column="typeCode" property="typeCode"/>
          </association>
      </collection>
    <!--<collection property="dailyType" javaType="ArrayList" column="dailyType"-->
                <!--ofType="com.zetkno.findbook.pojo.BookType">-->
      <!--<result column="btid" property="typeId"/>-->
      <!--<result column="btParentId" property="parentId"/>-->
      <!--<result column="btParentName" property="parentName"/>-->
      <!--<result column="btName" property="typeName"/>-->
      <!--<result column="btCode" property="typeCode"/>-->
    <!--</collection>-->
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <!--<insert id="insert" parameterType="com.zetkno.findbook.pojo.User">-->
    <!--insert into user (userid, userName, password,-->
      <!--gender, phoneNum, administrator,-->
      <!--favoriteType, dailyType, email,-->
      <!--avator)-->
    <!--values (#{userid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
      <!--#{gender,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{administrator,jdbcType=BIT},-->
      <!--#{favoriteType}, #{dailyType,jdbcType=VARHCAR}, #{email,jdbcType=VARCHAR},-->
      <!--#{avator,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.zetkno.findbook.pojo.User">-->
    <!--update user-->
    <!--set userName = #{userName,jdbcType=VARCHAR},-->
      <!--password = #{password,jdbcType=VARCHAR},-->
      <!--gender = #{gender,jdbcType=VARCHAR},-->
      <!--phoneNum = #{phoneNum,jdbcType=VARCHAR},-->
      <!--administrator = #{administrator,jdbcType=BIT},-->
      <!--favoriteType = #{favoriteType},-->
      <!--dailyType = #{dailyType,jdbcType=VARCHAR},-->
      <!--email = #{email,jdbcType=VARCHAR},-->
      <!--avator = #{avator,jdbcType=VARCHAR}-->
    <!--where userid = #{userid,jdbcType=INTEGER}-->
  <!--</update>-->

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select userid, userName, password, gender, phoneNum, administrator, favoriteType,
    dailyType, email, avator
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select userid, userName, password, gender, phoneNum, administrator, favoriteType,
    dailyType, email, avator
    from user
    where userName = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="selectWithAll" resultMap="BaseResultMap">
    select u.*,
      ft.*,
      bt.*
    from user u
      left join favorite_type ft on u.userid = ft.userid
      left join book_type bt on bt.typeCode = ft.typeCode
    ORDER BY userid
  </select>
</mapper>